# Supervivencia Titanic

In [19]:
#Se importan las librerias a utilizar
import numpy as np
import pandas as pd

In [5]:
#Se importan los data sets a utilizar
dir_test='/home/giovannyencinia/Documents/DataSets/titanic/test.csv'
dir_train='/home/giovannyencinia/Documents/DataSets/titanic/train.csv'
df_test=pd.read_csv(dir_test)
df_train=pd.read_csv(dir_train)

In [7]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
print(df_test.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [11]:
df_test.shape

(418, 11)

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [21]:
pd.__version__

'0.25.1'

In [22]:
conda install jupyterthemes

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - jupyterthemes

Current channels:

  - https://repo.anaconda.com/pkgs/main/linux-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/linux-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.



Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install jupyterthemes

Collecting jupyterthemes
  Downloading https://files.pythonhosted.org/packages/8a/08/9dee6dfd7f2aad6c30282d55c8f495b4dc1e4747b4e2bdbeb80572ddf312/jupyterthemes-0.20.0-py2.py3-none-any.whl (7.0MB)
     |████████████████████████████████| 7.0MB 152kB/s eta 0:00:01
Requirement already satisfied: matplotlib>=1.4.3 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jupyterthemes) (3.1.1)
Requirement already satisfied: jupyter-core in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jupyterthemes) (4.5.0)
Requirement already satisfied: ipython>=5.4.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jupyterthemes) (7.8.0)
Requirement already satisfied: notebook>=5.6.0 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jupyterthemes) (6.0.1)
Collecting lesscpy>=0.11.2 (from jupyterthemes)
  Downloading https://files.pythonhosted.org/packages/f8/d2/665cda6614e3556eaeb7553a3a2963624c2e3bc9636777a1bb654b87b027/lesscpy-0.14.0-py2.py3-none-any.whl (46kB)
     |████████████████████████████████| 51kB 63kB/s eta 0:00:011
Requirement already satisfied: cycler>=0.10 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.0)
Requirement already satisfied: numpy>=1.11 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.17.2)
Requirement already satisfied: traitlets in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jupyter-core->jupyterthemes) (4.3.3)
Requirement already satisfied: pickleshare in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: pygments in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (2.4.2)
Requirement already satisfied: setuptools>=18.5 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (41.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (2.0.10)
Requirement already satisfied: backcall in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (0.14.1)
Requirement already satisfied: decorator in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (4.4.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from ipython>=5.4.1->jupyterthemes) (4.7.0)
Requirement already satisfied: terminado>=0.8.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (0.8.2)
Requirement already satisfied: nbconvert in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (5.6.0)
Requirement already satisfied: tornado>=5.0 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (6.0.3)
Requirement already satisfied: ipython-genutils in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: Send2Trash in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: pyzmq>=17 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (18.1.0)
Requirement already satisfied: ipykernel in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (5.1.3)
Requirement already satisfied: prometheus-client in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: nbformat in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (4.4.0)
Requirement already satisfied: jinja2 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (2.10.3)
Requirement already satisfied: jupyter-client>=5.3.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.3)
Requirement already satisfied: six in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from lesscpy>=0.11.2->jupyterthemes) (1.12.0)
Requirement already satisfied: ply in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: wcwidth in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.1.7)
Requirement already satisfied: parso>=0.5.0 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.4.1->jupyterthemes) (0.5.1)
Requirement already satisfied: ptyprocess>=0.5 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.4.1->jupyterthemes) (0.6.0)
Requirement already satisfied: testpath in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4.2)
Requirement already satisfied: bleach in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (3.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.3)
Requirement already satisfied: defusedxml in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (3.0.2)
Requirement already satisfied: MarkupSafe>=0.23 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (1.1.1)
Requirement already satisfied: webencodings in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: attrs>=17.4.0 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (19.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/giovannyencinia/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (0.15.4)
Installing collected packages: lesscpy, jupyterthemes
Successfully installed jupyterthemes-0.20.0 lesscpy-0.14.0
Note: you may need to restart the kernel to use updated packages.